html, body {
  height: 100%;
  margin: 0;
  white-space: nowrap;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background-color: white;
  height: 100%;
  padding-bottom: 190px;
}
#log-in-button{
  float:right;
}
#log-in-form{
  padding:5px;
  display:inline-block;
  float:right;
}
#tplogo{
  display: inline-block;
  background-color: white;
  float:left;
  float:top;
  position:fixed;
  margin: 20px;
  border-radius: 50px;
  margin-left: 30px;
  z-index: 10;
}
#submit-button{
  float:right;
  display:inline-block;
  margin: 1%;
}
.dropdown-menu{
  margin-left: 150px;
}
.container{
  display: inline-block;
  white-space:nowrap;
  width:60%;
  margin-left: 150px;
  margin-right: 1%;
  min-height: 500px;
  background-color: #f9f6e3;
  font-family: 'Lato', sans-serif;
}
#page-content-wrapper{
  overflow: hidden;
}
#donation-box{
  display:inline-block;
  float: right;
  white-space:nowrap;
  width: auto;
  height: 100%;
  margin-right: 3%;
  margin-left: 1%;
}
#res_type{
  margin-right: 20px;
}
.top-bar{
  white-space: nowrap;
  float:top;
  position:fixed;
  background-color: white;
  display: inline-block;
  width: 100%;
  padding:10px;
  height: 55px;
  padding-left: 170px;
}
#dropdown{
  margin-bottom: 5px;
  display: inline-block;
}
#log-in{
  float:right;
}
.btn-group{
  display:inline-block;
}
#tl-button-box{
  float:right;
  display:inline-block;
  background-color: red;
}
#resource_table{
    display:inline-block;
}
.resource{
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 5px;
}
#r_head{
  display: inline-block;
  background-color: #00FF66;
  margin: 10px;
}
#r_img_div{
  display: inline-block;
  margin: 5px;
  float:left;
  border-radius: 10px;
}
#r_image{
  border-radius: 10px;
}
#r_category{
  display: inline-block;
  float:right;
  margin-right: 10px;
}
#r_titleDiv{
  display: inline-block;
  margin-left: 10px;
}
#r_providerName{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#r_contactInfo{
  list-style: none;
  margin-left: 30px;
  display: inline-block;
}
#r_perks{
  float: right;
  margin-right: 30px;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
#r_contact{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

#r_img_div{
   max-width: 100%;
   height: auto;
}
.form-check-inline{
  display: inline-block;
  margin-left: 30px;
}
#contact{
  background-color: #313b48;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  height: 160px;
  width: 100%;
}
dt{
  font-size:20px;
}
dd:after {
    content: '';
    display: block;
    clear: both;
}
li{
  display:inline-block;
  padding: 10px;
  padding-right: 10%;
}
#bottom-bar{
  background-color: #28313d;
  color: #49515d;
  height: 40px;
  padding: 10px;
  width: 100%;
  text-indent: 10px;
}
footer{
  bottom: 0;
  height:190px;
  width: 100%;
}
h3{
  font-weight: 600;
}
#contact-list{
  padding: 30px;
  align-content: center;
  display: inline-block;
}
ul{
  list-style: none;
}
