<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
    <title>Resource Directory</title>
     <meta charset="UTF-8">
    <!-- 'viewport' is used by bootstrap to respond to device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="static/script/directory.js"> </script>
<body>
    <img id="tplogo" src="static/img/tplogo.png" height="90px" width="90px">
    <div class = "top-bar" id="sorting_options">
        <!-- based on instructions from W3 Schools -->
        <div id="dropdown">
            <button class="btn btn-warning btn-sm dropdown-toggle btn-group" type="button" data-toggle="dropdown">Service Type
     <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Chiropractor</a></li>
                <li><a href="#">Endocrinologist</a></li>
                <li><a href="#">Gender Affirming Products</a></li>
                <li><a href="#">Gynecologist</a></li>
                <li><a href="#">Hair</a></li>
                <li><a href="#">Laser / Electrolysis</a></li>
                <li><a href="#">Psychologist</a></li>
                <li><a href="#">Social Support</a></li>
                <li><a href="#">Surgeon</a></li>
                <li><a href="#">Surgery Scholarship</a></li>
                <li><a href="#">Therapist / Counselor</a></li>
                <li><a href="#">Voice Therapy</a></li>
                <li><a href="#">Youth Support</a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-group	btn-default">
            <input type="checkbox" name="options" id="option1" autocomplete="off" > Oregon Health Plan
          </label>
          <label class="btn btn-group	 btn-default">
            <input type="checkbox" name="options" id="option2" autocomplete="off"> Private Insurance
          </label>
          <label class="btn btn-group btn-default">
            <input type="checkbox" name="options" id="option3" autocomplete="off"> Monitors Hormones
          </label>
        </div>
        <a class="btn btn-default btn-xs" id = "submit-button" href="submit" role="button">Submit new Entry</a>
        
        <form class="dropdown-menu p-4">
          <div class="form-group">
            <label for="exampleDropdownFormEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword2">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck2">
            <label class="form-check-label" for="dropdownCheck2">
              Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

</div>
    </div>

    </div>
    <div class="container">
        <h2>Current Resources: </h2>
        <!-- Table to be filled in by js functions -->
        <table id="resource_table">
            <tbody>
                <template class="resource">
                    <!-- <div class = "r_img_div"> <img src = "baa3.png" class = "r_image" width = "150" height = "150" > </div> -->
                    <div r_head>
                        <div id="r_titleDiv">
                            <h3 id="r_title">PLACEHOLDER TITLE</h3>
                        </div>
                        <h4 id="r_category">Category</h4>
                        </br>
                        <div id="r_providerName">ProviderName</div>
                    </div>
                    <ul id="r_contactInfo">
                        <li><b>Website:</b> <span id="r_url">N/A</span></li>
                        <li><b>Email:</b> <span id="r_email">N/A</span></li>
                        <li><b>Phone #:</b> <span id="r_phone">N/A</span></li>
                        <li><b>Address:</b> <span id="r_address">N/A</span></li>
                        <li><b>Office:</b> <span id="r_officeName">N/A</span></li>
                    </ul>

                    <ul id="r_perks">
                        <li id="r_takesOHP">N</li>
                        <li id="r_takesInsurance">N</li>
                        <li id="r_takesInsurance">N</li>
                        <li id="r_takesInsurance">N</li>
                        <li id="r_takesInsurance">N</li>
                    </ul>
                </template>
            </tbody>
        </table>
        <br />
    </div>
    <div id = "donation-box">
      PLACEHOLDER
    </br></br></br>
    </div>
</body>
<footer>
    <div id="contact"></div>
    <div id="bottom-bar"></div>
</footer>
</html>
