<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
	<title>Submit new resource</title>
	<!-- 'viewport' is used by bootstrap to respond to device size -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Javascript:  JQuery from a content distribution network (CDN) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<!-- Bootstrap includes javascript and css  (must follow jquery) -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</script>
	<!-- Our own style sheet -->
	<!--<link rel="stylesheet" href="/static/css/memos.css" />-->
</head>
<body>
	<div class="container">
		<h1>Resource information:</h1>
		<div>
			<input type="text" name="type" id="type" placeholder="Category" />
			<br />
			<input type="text" name="name" id="name" placeholder="Name" />
			<br />
			<input type="text" name="office_name" id="office_name" placeholder="Name of Office" />
			<br />
			<input type="text" name="address" id="address" placeholder="Address" />
			<br />
			<input type="text" name="phone" id="phone" placeholder="Phone" />
			<br />
			<input type="text" name="email" id="email" placeholder="Email" />
			<br />
			<input type="text" name="website" id="website" placeholder="Website" />
			<br />
			<input type="text" name="takes_OHP" id="takes_OHP" placeholder="Do they accept OHP?" />
			<br />
			<input type="text" name="takes_private_ins" id="takes_private_ins" placeholder="Do they accept private insurance" />
			<br />
			<input type="text" name="sliding_scale" id="sliding_scale" placeholder="Do they have a sliding scale payment system" />
			<br />
			<input type="text" name="diversity_aware" id="diversity_aware" placeholder="Does the provider have Diversity Awareness Training?" />
			<br />
			<input type="text" name="paperwork_not_only_mf" id="paperwork_not_only_mf" placeholder="Does the providers paperwork only have Male/Female pronouns" />
			<br />
			<input type="text" name="paperwork_asks_for_pronoun" id="paperwork_asks_for_pronoun" placeholder="Does the paperwork ask for pronouns" />
			<br />
			<input type="text" name="can_monitor_hormones" id="can_monitor_hormones" placeholder="Can the Provider monitor hormones" />
			<br />
			<input type="text" name="notes" id="notes" placeholder="Extra notes / Details" />
			<br />
			<button class="submit" id="submit" type="button" <!-- type:button removes default submit-->>submit</button>
		</div>
		<script type="text/javascript">

var SCRIPT_ROOT = {{ request.script_root| tojson | safe }};
var CREATE_URL = SCRIPT_ROOT + "/_create";

function add_resource() {
	console.log("Adding a Resource");
	// Scapr fields for info
	var type						= $("#type").val();
	var name						= $("#name").val();
	var office_name					= $("#office_name").val();
	var address						= $("#address").val();
	var phone						= $("#phone").val();
	var email						= $("#email").val();
	var website						= $("#website").val();
	var takes_OHP					= $("#takes_OHP").val();
	var takes_private_ins			= $("#takes_private_ins").val();
	var sliding_scale				= $("#sliding_scale").val();
	var diversity_aware				= $("#diversity_aware").val();
	var paperwork_not_only_mf		= $("#paperwork_not_only_mf").val();
	var paperwork_asks_for_pronoun	= $("#paperwork_asks_for_pronoun").val();
	var can_monitor_hormones		= $("#can_monitor_hormones").val();
	var notes						= $("#notes").val();

	// Prefer these fields as bools (?)
	takes_OHP = (takes_OHP == '' || takes_OHP == "no") ? false : takes_OHP;
	takes_private_ins = (takes_private_ins == '' || takes_private_ins == "no") ? false : takes_private_ins;
	paperwork_not_only_mf = (paperwork_not_only_mf == '' || paperwork_not_only_mf == "no") ? false : paperwork_not_only_mf;
	paperwork_asks_for_pronoun = (paperwork_asks_for_pronoun == '' || paperwork_asks_for_pronoun == "no") ? false : paperwork_asks_for_pronoun;
	can_monitor_hormones = (can_monitor_hormones == '' || can_monitor_hormones == "no") ? false : can_monitor_hormones;

	// Push data to server
	$.getJSON(CREATE_URL, {
		"type": type,
		"name" : name,
		"office_name" : office_name,
		"address" : address,
		"phone" : phone,
		"email" : email,
		"website" : website,
		"takes_OHP" : takes_OHP,
		"takes_private_ins" : takes_private_ins,
		"sliding_scale" : sliding_scale,
		"diversity_aware" : diversity_aware,
		"paperwork_not_only_mf" : paperwork_not_only_mf,
		"paperwork_asks_for_pronoun" : paperwork_asks_for_pronoun,
		"can_monitor_hormones" : can_monitor_hormones,
		"notes" : notes
		}, function (data) {
			var res = data.result;
			console.log(res);
			if (res.error) {
				console.log(res.error);
			}
			else {
				console.log("Resource added successfully");
			}
	});
}

$(document).ready(function () { onPageLoad(); });
function onPageLoad() {
	// Add a listener for the new memo button.
	console.log("Adding Button listener")
	$("#submit").click(function (e) {
		console.log("submit clicked");
		add_resource();
	});
}
		</script>
	</div>
</body>
</html>
