
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
	<title>Resource Directory</title>
	<meta charset="UTF-8">
	<!-- 'viewport' is used by bootstrap to respond to device size -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Javascript:  JQuery from a content distribution network (CDN) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Bootstrap includes javascript and css  (must follow jquery) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</script>
	<!-- Our own style sheet -->
	<link rel="stylesheet" href="static/css/style.css" />
	<script type="text/javascript">

    var SCRIPT_ROOT = {{ request.script_root| tojson | safe }};
    var CREATE_URL = SCRIPT_ROOT + "/_create";

    function add_resource() {
    	console.log("Adding a Resource");
    	// Scapr fields for info
		var type = $("#type").val();
		var name = $("#name").val();
		var office_name = $("#office_name").val();
		var address = $("#address").val();
		var phone = $("#phone").val();
		var email = $("#email").val();
		var website = $("#website").val();
		var takes_OHP = $('input[name=OHP]:checked').val();
		var takes_private_ins = $('input[name=prv_ins]:checked').val();
		var sliding_scale = $('input[name=slide_scale]:checked').val();
		var diversity_aware = $('input[name=diversity]:checked').val();
		var paperwork_not_only_mf = $('input[name=only_mf]:checked').val();
		var paperwork_asks_for_pronoun = $('input[name=pronoun]:checked').val();
		var can_monitor_hormones = $('input[name=hormones]:checked').val();
		var notes = $('#notes').val();

    	// Push data to server
    	$.getJSON(CREATE_URL, {
    		"type": type,
    		"name" : name,
    		"office_name" : office_name,
    		"address" : address,
    		"phone" : phone,
    		"email" : email,
    		"website" : website,
    		"takes_OHP" : takes_OHP,
    		"takes_private_ins" : takes_private_ins,
    		"sliding_scale" : sliding_scale,
    		"diversity_aware" : diversity_aware,
    		"paperwork_not_only_mf" : paperwork_not_only_mf,
    		"paperwork_asks_for_pronoun" : paperwork_asks_for_pronoun,
    		"can_monitor_hormones" : can_monitor_hormones,
    		"notes" : notes
    		}, function (data) {
    			var res = data.result;
    			console.log(res);
    			if (res.error) {
    				console.log(res.error);
    			}
    			else {
    				console.log("Resource added successfully");
    			}
    	});
    }

    $(document).ready(function () { onPageLoad(); });
    function onPageLoad() {
    	// Add a listener for the new memo button.
    	console.log("Adding Button listener")
    	$("#submit").click(function (e) {
    		console.log("submit clicked");
    		add_resource();
    	});
    }
	</script>
</head>
<body>
	<img id="tplogo" src="static/img/tplogo.png" height="90px" width="90px">
	<!-- based on instructions from W3 Schools -->
	<div id="page-content-wrapper">
		<div class="container" id="submit-container">
			<h1>Resource information:</h1>
			<div id="submit-form">
				<div class="form-group" id="contact-info-submit">
					<input class="form-control" type="text" name="type" id="type" placeholder="Category" />
					<br />
					<input class="form-control" type="text" name="name" id="name" placeholder="Name" />
					<br />
					<input class="form-control" type="text" name="office_name" id="office_name" placeholder="Name of Office" />
					<br />
					<input class="form-control" type="text" name="address" id="address" placeholder="Address" />
					<br />
					<input class="form-control" type="text" name="phone" id="phone" placeholder="Phone" />
					<br />
					<input class="form-control" type="text" name="email" id="email" placeholder="Email" />
					<br />
					<input class="form-control" type="text" name="website" id="website" placeholder="Website" />
					<br />
				</div>
				<div id = "radio-menu-items">
				<div class="form-group" id="perk-submit">
					<b>Do they accept OHP?</b>
					<br />
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-success">
						<input type="radio" name="OHP" value="yes" >Yes
				  </label>
				  <label class="btn btn-danger">
						<input type="radio" name="OHP" value="no" >No
				  </label>
				  <label class="btn btn-default">
						<input type="radio" name="OHP" value="N/A" >N/A<br/>
				  </label>
				</div>

					<br />
					<b>Do they accept private insurance?</b>
					<br />
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-success">
						<input type="radio" name="prv_ins" value="yes" >Yes
					</label>
					<label class="btn btn-danger">
						<input type="radio" name="prv_ins" value="no" >No
					</label>
					<label class="btn btn-default">
						<input type="radio" name="prv_ins" value="N/A" >N/A<br/>
					</label>
				</div>
					<br />

					<b>Do they have a sliding scale payment system?</b>
					<br />
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="slide_scale" value="yes" >Yes
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="slide_scale" value="no" >No
						</label>
						<label class="btn btn-default">
							<input type="radio" name="slide_scale" value="N/A" >N/A<br/>
						</label>
					</div>
						<br />

					<b>Does the provider have Diversity Awareness Training?</b>
					<br />
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="diversity" value="yes" />Yes
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="diversity" value="no" />No
						</label>
						<label class="btn btn-default">
							<input type="radio" name="diversity" value="N/A" />N/A<br/>
						</label>
					</div>
						<br />

					<b>Does the privder include non-binary pronouns?</b>
					<br />
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="only_mf" value="yes" />Yes
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="only_mf" value="no" />No
						</label>
						<label class="btn btn-default">
							<input type="radio" name="only_mf" value="N/A" />N/A<br/>
						</label>
					</div>
						<br />

					<b>Does the paperwork ask for pronouns?</b>
					<br />
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="pronoun" value="yes" />Yes
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="pronoun" value="no" />No
						</label>
						<label class="btn btn-default">
							<input type="radio" name="pronoun" value="N/A" />N/A<br/>
						</label>
					</div>
				</br>
					<b>Can the Provider monitor hormones?</b>
					<br />
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="hormones" value="yes" />Yes
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="hormones" value="no" />No
						</label>
						<label class="btn btn-default">
							<input type="radio" name="hormones" value="N/A" />N/A<br/>
						</label>
					</div>
				</div>
				</div>
				<br />
				<input class="form-control" type="text" name="notes" id="notes" placeholder="Extra notes / Details" />
				<br />
				<button class="btn btn-warning submit" id="submit" type="button" <!-- type:button removes default submit-->Submit</button>
				<br />
			</div>
		</div>
		<div id="donation-box">
			</br>
			</br>
			</br>
		</div>
	</div>
	</div>
</body>
<footer class="page-footer">
	<div id="contact">
		<ul id="contact-list">
			<li>
				<h3>Email</h3>
				<p>admin@transponder.community</p>
			</li>
			<li>
				<h3>Phone</h3>
				<p>508-443-6337 (4GENDER)</p>
			</li>
			<li>
				<h3>Mailing Address</h3>
				<p>
					541 Willamette St #407a
					Eugene, OR 97401
				</p>
			</li>
			</dd>
		</ul>
	</div>
	<div id="bottom-bar">
		Team Salmon - Andrea Nosler, Narayana Emery, Samuel Champer - Hack for a Cause 2018
		<a class="btn btn-info btn-xs" id="submit-button" href="index" role="button">Home</a>
	</div>
</footer>
</html>
